# Relatório de Análises I

## Importando Base de Dados

In [5]:
import pandas as pd

In [6]:
dados = pd.read_csv('dados/aluguel.csv', sep=';')
dados.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0
5,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
6,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,0.0,0.0
7,Casa de Condomínio,Ramos,2,2,0,65,1000.0,0.0,0.0
8,Conjunto Comercial/Sala,Centro,0,3,0,695,35000.0,19193.0,3030.0
9,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0

In [7]:
type(dados)

pandas.core.frame.DataFrame

In [8]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32198 entries, 0 to 32197
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tipo        32198 non-null  object
 1   Bairro      32198 non-null  object
 2   Quartos     32198 non-null  int64
 3   Vagas       32198 non-null  int64
 4   Suites      32198 non-null  int64
 5   Area        32198 non-null  int64
 6   Valor       32198 non-null  float64
 7   Condominio  32198 non-null  float64
 8   IPTU        32198 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 2.2+ MB

## Informações Gerais Sobre a Base da Dados

In [9]:
dados.dtypes

Tipo           object
Bairro         object
Quartos         int64
Vagas           int64
Suites          int64
Area            int64
Valor         float64
Condominio    float64
IPTU          float64
dtype: object

In [10]:
tipos_de_dados = pd.DataFrame(dados.dtypes, columns=['Tipo de Dados'])
tipos_de_dados.columns.name = 'Variáveis'

In [11]:
tipos_de_dados

Variáveis  Tipo de Dados
Tipo              object
Bairro            object
Quartos            int64
Vagas              int64
Suites             int64
Area               int64
Valor            float64
Condominio       float64
IPTU             float64

In [12]:
dados.shape

(32198, 9)

In [13]:
dados.shape[0]

32198

In [14]:
dados.shape[1]

9

In [15]:
print('A base dados apresenta {} registros (imóveis) e {} variavéis'.format(dados.shape[0], dados.shape[1]))

A base dados apresenta 32198 registros (imóveis) e 9 variavéis