# Relatório de Análise II

## Tipos de Imóveis

In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv('dados/aluguel.csv', sep = ';')

In [3]:
dados.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0
5,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
6,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,0.0,0.0
7,Casa de Condomínio,Ramos,2,2,0,65,1000.0,0.0,0.0
8,Conjunto Comercial/Sala,Centro,0,3,0,695,35000.0,19193.0,3030.0
9,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0

In [4]:
dados['Tipo']

0                      Quitinete
1                           Casa
2        Conjunto Comercial/Sala
3                    Apartamento
4                    Apartamento
                  ...
32193                  Quitinete
32194                Apartamento
32195                Apartamento
32196                Apartamento
32197    Conjunto Comercial/Sala
Name: Tipo, Length: 32198, dtype: object

In [5]:
dados.Tipo

0                      Quitinete
1                           Casa
2        Conjunto Comercial/Sala
3                    Apartamento
4                    Apartamento
                  ...
32193                  Quitinete
32194                Apartamento
32195                Apartamento
32196                Apartamento
32197    Conjunto Comercial/Sala
Name: Tipo, Length: 32198, dtype: object

In [6]:
tipo_de_imoveis = dados['Tipo']

In [7]:
type(tipo_de_imoveis)

pandas.core.series.Series

In [8]:
tipo_de_imoveis.drop_duplicates()

0                          Quitinete
1                               Casa
2            Conjunto Comercial/Sala
3                        Apartamento
6                 Casa de Condomínio
14                    Prédio Inteiro
15                              Flat
27                        Loja/Salão
77           Galpão/Depósito/Armazém
80                    Casa Comercial
113                     Casa de Vila
155                   Terreno Padrão
201                      Box/Garagem
337                             Loft
578      Loja Shopping/ Ct Comercial
2117                         Chácara
3283           Loteamento/Condomínio
4288                           Sítio
4625                   Pousada/Chalé
6833                          Studio
9470                           Hotel
23072                      Indústria
Name: Tipo, dtype: object

In [9]:
tipo_de_imoveis

0                      Quitinete
1                           Casa
2        Conjunto Comercial/Sala
3                    Apartamento
4                    Apartamento
                  ...
32193                  Quitinete
32194                Apartamento
32195                Apartamento
32196                Apartamento
32197    Conjunto Comercial/Sala
Name: Tipo, Length: 32198, dtype: object

In [10]:
tipo_de_imoveis.drop_duplicates(inplace = True)

In [11]:
tipo_de_imoveis

0                          Quitinete
1                               Casa
2            Conjunto Comercial/Sala
3                        Apartamento
6                 Casa de Condomínio
14                    Prédio Inteiro
15                              Flat
27                        Loja/Salão
77           Galpão/Depósito/Armazém
80                    Casa Comercial
113                     Casa de Vila
155                   Terreno Padrão
201                      Box/Garagem
337                             Loft
578      Loja Shopping/ Ct Comercial
2117                         Chácara
3283           Loteamento/Condomínio
4288                           Sítio
4625                   Pousada/Chalé
6833                          Studio
9470                           Hotel
23072                      Indústria
Name: Tipo, dtype: object

## Organizando Vizualização

In [12]:
tipo_de_imoveis = pd.DataFrame(tipo_de_imoveis)

In [13]:
tipo_de_imoveis

                              Tipo
0                        Quitinete
1                             Casa
2          Conjunto Comercial/Sala
3                      Apartamento
6               Casa de Condomínio
14                  Prédio Inteiro
15                            Flat
27                      Loja/Salão
77         Galpão/Depósito/Armazém
80                  Casa Comercial
113                   Casa de Vila
155                 Terreno Padrão
201                    Box/Garagem
337                           Loft
578    Loja Shopping/ Ct Comercial
2117                       Chácara
3283         Loteamento/Condomínio
4288                         Sítio
4625                 Pousada/Chalé
6833                        Studio
9470                         Hotel
23072                    Indústria

In [14]:
tipo_de_imoveis.index

Int64Index([    0,     1,     2,     3,     6,    14,    15,    27,    77,
               80,   113,   155,   201,   337,   578,  2117,  3283,  4288,
             4625,  6833,  9470, 23072],
           dtype='int64')

In [15]:
range(tipo_de_imoveis.shape[0])

range(0, 22)

In [16]:
for i in range(tipo_de_imoveis.shape[0]):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21

In [17]:
tipo_de_imoveis.index = range(tipo_de_imoveis.shape[0])

In [18]:
tipo_de_imoveis.index

RangeIndex(start=0, stop=22, step=1)

In [19]:
tipo_de_imoveis

                           Tipo
0                     Quitinete
1                          Casa
2       Conjunto Comercial/Sala
3                   Apartamento
4            Casa de Condomínio
5                Prédio Inteiro
6                          Flat
7                    Loja/Salão
8       Galpão/Depósito/Armazém
9                Casa Comercial
10                 Casa de Vila
11               Terreno Padrão
12                  Box/Garagem
13                         Loft
14  Loja Shopping/ Ct Comercial
15                      Chácara
16        Loteamento/Condomínio
17                        Sítio
18                Pousada/Chalé
19                       Studio
20                        Hotel
21                    Indústria

In [20]:
tipo_de_imoveis.columns.name = "Id"

In [21]:
tipo_de_imoveis

Id                         Tipo
0                     Quitinete
1                          Casa
2       Conjunto Comercial/Sala
3                   Apartamento
4            Casa de Condomínio
5                Prédio Inteiro
6                          Flat
7                    Loja/Salão
8       Galpão/Depósito/Armazém
9                Casa Comercial
10                 Casa de Vila
11               Terreno Padrão
12                  Box/Garagem
13                         Loft
14  Loja Shopping/ Ct Comercial
15                      Chácara
16        Loteamento/Condomínio
17                        Sítio
18                Pousada/Chalé
19                       Studio
20                        Hotel
21                    Indústria

In [22]:
len(tipo_de_imoveis)

22