# Relatório de Análises V

## Tratamento de Dados Faltantes

In [17]:
import pandas as pd
dados =  pd.read_csv('dados/aluguel_residencial.csv', sep=';')
dados.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0
4,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
5,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,0.0,0.0
6,Casa de Condomínio,Ramos,2,2,0,65,1000.0,0.0,0.0
7,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0
8,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0
9,Apartamento,Copacabana,1,0,1,40,2000.0,561.0,50.0

In [18]:
# Mostra os valores nulos do dataframe como True e os não nulos como False
dados.isnull()

        Tipo  Bairro  Quartos  Vagas  Suites   Area  Valor  Condominio   IPTU
0      False   False    False  False   False  False  False       False  False
1      False   False    False  False   False  False  False       False  False
2      False   False    False  False   False  False  False       False  False
3      False   False    False  False   False  False  False       False  False
4      False   False    False  False   False  False  False       False  False
...      ...     ...      ...    ...     ...    ...    ...         ...    ...
21891  False   False    False  False   False  False  False       False  False
21892  False   False    False  False   False  False  False       False  False
21893  False   False    False  False   False  False  False       False  False
21894  False   False    False  False   False  False  False       False  False
21895  False   False    False  False   False  False  False       False  False

[21896 rows x 9 columns]

In [19]:
# Mostra os valores não nulos do dataframe como True e os não nulos como False
dados.notnull()

       Tipo  Bairro  Quartos  Vagas  Suites  Area  Valor  Condominio  IPTU
0      True    True     True   True    True  True   True        True  True
1      True    True     True   True    True  True   True        True  True
2      True    True     True   True    True  True   True        True  True
3      True    True     True   True    True  True   True        True  True
4      True    True     True   True    True  True   True        True  True
...     ...     ...      ...    ...     ...   ...    ...         ...   ...
21891  True    True     True   True    True  True   True        True  True
21892  True    True     True   True    True  True   True        True  True
21893  True    True     True   True    True  True   True        True  True
21894  True    True     True   True    True  True   True        True  True
21895  True    True     True   True    True  True   True        True  True

[21896 rows x 9 columns]

In [20]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21896 entries, 0 to 21895
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tipo        21896 non-null  object
 1   Bairro      21896 non-null  object
 2   Quartos     21896 non-null  int64
 3   Vagas       21896 non-null  int64
 4   Suites      21896 non-null  int64
 5   Area        21896 non-null  int64
 6   Valor       21896 non-null  float64
 7   Condominio  21896 non-null  float64
 8   IPTU        21896 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 1.5+ MB

In [21]:
# Mostra apenas os registros do dataFrame que apresentem a variável valor como nula
dados[dados['Valor'].isnull()]

Empty DataFrame
Columns: [Tipo, Bairro, Quartos, Vagas, Suites, Area, Valor, Condominio, IPTU]
Index: []

In [22]:
A = dados.shape[0]
dados.dropna(subset = ['Valor'], inplace=True)
B = dados.shape[0]
A-B

0

## Tratamento de dados faltantes (Continuação)

In [23]:
# Apresenta quantos registros apresentam valor NaN na variável condomínio
dados[dados['Condominio'].isnull()].shape[0]

0

In [24]:
# Seleciona os registro que apresentam a variável 'Tipo' como apartamento e a variavél 'Condomínio'
# como NaN. Essa seleção deverá ser eliminada do dataFrame, visto que estamos considerando que todo
# o apartamento está em um condomínio
selecao = (dados['Tipo'] == 'Apartamento') & (dados['Condominio'].isnull())

In [25]:
# Número de registros antes de remover a seleção 
A = dados.shape[0]
# Remover a seleção, o ~ inverte a seleção 
dados = dados[~selecao]
# Número de registros com a seleção removida
B = dados.shape[0]
A-B

0

In [26]:
# Caso a restrição do 'Tipo' como apartamento não fosse aplicada seriam removidos mais registros
dados[dados['Condominio'].isnull()].shape[0]

0

In [27]:
dados = dados.fillna({'Condominio': 0, 'IPTU':0})

In [28]:
dados[dados['Condominio'].isnull()].shape[0]

0

In [29]:
dados[dados['IPTU'].isnull()].shape[0]

0

In [30]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21896 entries, 0 to 21895
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tipo        21896 non-null  object
 1   Bairro      21896 non-null  object
 2   Quartos     21896 non-null  int64
 3   Vagas       21896 non-null  int64
 4   Suites      21896 non-null  int64
 5   Area        21896 non-null  int64
 6   Valor       21896 non-null  float64
 7   Condominio  21896 non-null  float64
 8   IPTU        21896 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 1.7+ MB

In [31]:
dados.to_csv('dados/aluguel_r   esidencial.csv', sep=';', index=False)